.alert {
    padding: 1rem;
    margin-bottom: 1rem;
    border: 1px solid transparent;
    border-radius: .25rem;
    width: 90%;
}

@media (min-width: 400px) {}

@media (min-width: 550px) {}

@media (min-width: 750px) {
    .alert {
        width: 60%;
    }
}

@media (min-width: 1000px) {}

@media (min-width: 1200px) {}

.alert-success {
    color: #44A944;
    background-color: #DEF2DE;
    border-color: #CCEBCC;
}

.alert-error {
    color: #A94444;
    background-color: #F2DEDE;
    border-color: #EBCCCC;
}

.alert-info {
    color: #31708f;
    background-color: #d9edf7;
    border-color: #bcdff1;
}
