.channels {
    height: 100vh;
    width: 30vw;
    position: fixed;
    left: 0.2%;
    top: 0.2%;
}

.channel-switcher {
    width: 100%;
}

.new-messages {
    background-color: #47B9D7;
    color: #FFFFFF;
}

.active {
    background-color: #50D367;
    color: #FFFFFF;
}
