.networks {
    height: auto;
    width: auto;
    position: fixed;
    left: 0.25rem;
    right: 0.25rem;
    top: 0.25rem;
    bottom: 0.25rem;
}

@media (min-width: 750px) {
    .networks {
        right: 75%;
    }
}

.channel-switcher {
    width: 100%;
}

.network-switcher > .channel-switcher {
    width: 80%;
}

.network-switcher {
    text-align: right;
}

.network-switcher-name {
    text-align: left;
    padding: .375rem 2%;
    font-size: 1.5rem;
    font-weight: bold;
}

.new-messages {
    background-color: #47B9D7;
    color: #FFFFFF;
}

.active {
    background-color: #50D367;
    color: #FFFFFF;
}
