.networks {
    height: auto;
    width: auto;
    position: fixed;
    left: 0.25rem;
    right: 0.25rem;
    top: 0.25rem;
    bottom: 0.25rem;
    overflow-y: scroll;
}

@media (min-width: 750px) {
    .networks {
        width: 10.5rem;
    }
}

@media (min-width: 1000px) {
    .networks {
        width: 13.5rem;
    }
}

@media (min-width: 1200px) {
    .networks {
        width: 16.5rem;
    }
}

@media (min-width: 1500px) {
    .networks {
        width: 19.5rem;
    }
}


.channel-switcher {
    width: 100%;
}

.network-switcher-buttons {
    width: 80%;
    float: right;
    background-color: #D6D6D6;
    border-radius: .25rem;
}

.network-switcher-name {
    padding: .375rem 0.2rem;
    font-size: 1.5rem;
    font-weight: bold;
}

.new-messages {
    background-color: #47B9D7;
    color: #FFFFFF;
}

.active {
    background-color: #50D367;
    color: #FFFFFF;
}
