.networks {
    height: 100vh;
    width: 30vw;
    position: fixed;
    left: 0.2%;
    top: 0.2%;
}

.channel-switcher {
    width: 100%;
}

.network-switcher > .channel-switcher {
    width: 80%;
}

.network-switcher {
    text-align: right;
}

.network-switcher-name {
    text-align: left;
    padding: .375rem 2%;
    font-size: 1.5rem;
    font-weight: bold;
}

.new-messages {
    background-color: #47B9D7;
    color: #FFFFFF;
}

.network-switcher {
    background-color: #2299FF;
}

.active {
    background-color: #50D367;
    color: #FFFFFF;
}
