.messaging {
    right: 0.25rem;
    top: 0.25rem;
    bottom: 0.25rem;
    left: 0.25rem;
}

.messages {
    position: fixed;
    width: auto;
    height: auto;
    overflow-y: scroll;
    top: 2.65rem;
    bottom: 2.65rem;
    right: inherit;
    left: inherit;
}

.titlebar {
    font-family: inherit;
    position: fixed;
    height: 2.4rem;
    width: 100%;
    top: inherit;
    right: inherit;
}

.messageform {
    position: fixed;
    left: inherit;
    right: inherit;
    bottom: 0.25rem;
}

.messagebox-wrapper {
    position: fixed;
    left: inherit;
    right: 5.5rem;
    bottom: inherit;

    padding: .375rem 1rem;
    border: 1px solid #9A9A9A;
    border-radius: .25rem;
    background-color: #FAFAFA;
}

.messagebox {
    font-size: 1rem;
    font-family: inherit;
    background-color: #FAFAFA;
    border: none;

    position: relative;
    width: 100%;
    height: 100%;
}

.messagesend {
    color: #FFFFFF;
    background-color: #50D367;
    border: 1px solid #50D367;

    position: fixed;
    width: 5rem;
    right: inherit;
    bottom: 0.25rem;
}

@media (min-width: 750px) {
    .messaging {
        left: 11rem;
        right: 9rem;
    }

    .messagesend {
        width: 7rem;
    }

    .messagebox-wrapper {
        right: 16.5rem;
    }

    .messaging-userlisthidden > .messageform > .messagebox-wrapper {
        right: 7.5rem;
    }

    .titlebar {
        left: inherit;
        width: auto;
    }

    .view-switch-btn {
        cursor: default;
    }
}

@media (min-width: 1000px) {
    .messaging {
        left: 14rem;
        right: 10rem;
    }

    .messagesend {
        width: 9rem;
    }

    .messagebox-wrapper {
        right: 19.5rem;
    }

    .messaging-userlisthidden > .messageform > .messagebox-wrapper {
        right: 9.5rem;
    }
}

@media (min-width: 1200px) {
    .messaging {
        left: 17rem;
        right: 11rem;
    }

    .messagesend {
        width: 11rem;
    }

    .messagebox-wrapper {
        right: 22.5rem;
    }

    .messaging-userlisthidden > .messageform > .messagebox-wrapper {
        right: 11.5rem;
    }
}

@media (min-width: 1500px) {
    .messaging {
        left: 20rem;
        right: 12rem;
    }

    .messagesend {
        width: 13rem;
    }

    .messagebox-wrapper {
        right: 25.5rem;
    }

    .messaging-userlisthidden > .messageform > .messagebox-wrapper {
        right: 13.5rem;
    }
}

.messaging-userlisthidden {
    right: 0.25rem;
}

.title {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.view-switch-btn {
    position: relative;
    width: 100%;
    background-color: inherit;
}
