.message {
    text-align: left;
    position: relative;
    display: inline-block;
    margin-bottom: .75rem;
    background-color: #FAFAFA;
    border-radius: .25rem;

    min-width: 30%;
    width: auto;
    max-width: 70%;
    padding: .375em .75em;
}

.message-wrapper {
    margin-right: 0.25em;
}

.own-message {
    text-align: right;
}

.joinpart {
    background-color: #EBEBEB;
    color: #9A9A9A;
}

.message-date {
    float: right;
    font-size: 0.7rem;
    color: #9A9A9A;
}

.message-sender {
    font-weight: bold;
}

.message-text {
    float: left;
    word-wrap: break-word;
}

.action {
    float: left;
}

.action-text {
    word-wrap: break-word;
    display: inline;
}

.action-sender {
    font-weight: bold;
    display: inline;
}
