.messages {
    position: fixed;
    height: 80vh;
    width: 100vw;
    overflow-y: scroll;
    top: 10vh;
    right: 0;
}

.navigation {
    position: fixed;
    height: 10vh;
    width: 100vw;
    top: 0;
    left: 0;
}

.navigation-btn {
    position: relative;
    width: 100%;
}

.input {
    position: fixed;
    height: 10vh;
    width: 99vw;
    bottom: 0;
    right: 0.2%;
}

@media (min-width: 750px) {
    .messages {
        width: 69vw;
        height: 90vh;
        top: 0;
    }

    .input {
        width: 69vw;
    }
}

.message {
    position: relative;
    display: inline-block;
    margin-bottom: .75rem;
    background-color: #EEEEEE;
    border-radius: .25rem;

    min-width: 30%;
    width: auto;
    max-width: 70%;
    padding: .375em .75em;
}

.joinpart {
    background-color: #E6E6E6;
    color: #9A9A9A;
}

.message-date {
    float: right;
}

.message-sender {
    float: left;
    font-weight: bold;
}

.message-text {
    word-wrap: break-word;
}

.action {
    float: left;
}

.action-text {
    word-wrap: break-word;
    display: inline;
}

.action-sender {
    font-weight: bold;
    display: inline;
}

.textfield {
    padding: .375rem 2%;
    font-size: 1rem;
    background-color: #EEEEEE;
    border: 1px solid #9A9A9A;
    border-radius: .25rem;
}

.messagebox {
    width: 80%;
    float: left;
}

.btn {
    padding: .375rem 2%;
    font-size: 1rem;
    font-weight: bold;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: none;
    border-radius: .25rem;
}

.messagesend {
    color: #FFFFFF;
    background-color: #50D367;

    width: 15%;
    float: right;
}
