.settings {
	position: fixed;
    right: 1rem;
    left: 1rem;
    top: 1rem;
}

@media (min-width: 750px) { .settings { left: 6rem; right: 6rem; } }
@media (min-width: 1000px) { .settings { left: 10rem; right: 10rem; } }
@media (min-width: 1200px) { .settings { left: 18rem; right: 18rem; } }
@media (min-width: 1500px) { .settings { left: 24rem; right: 24rem; } }
@media (min-width: 1800px) { .settings { left: 32rem; right: 32rem; } }

.settings-top-buttons {
    border-radius: .25rem;
    background-color: #D6D6D6;
}

.btn-part-channel, .btn-clear-history {
    display: table-cell;
    width: 50%;
    box-sizing: border-box;
}

.btn-leave-settings {
    display: table-cell;
    width: 100%;
}

.settings-container {
    display: table;
    width: 100%;
    vertical-align: middle;
    border-spacing: .375rem;
    border-collapse: separate;
    table-layout: fixed;
}

.settings-entry {
    display: table-row;
}

.settings-title {
    text-align: center;

    font-size: 1.5rem;
    font-weight: bold;
    font-family: inherit;
    margin-top: 1.25rem;
    margin-bottom: 0.5rem;
}

.settings-label {
    display: table-cell;
    font-family: inherit;
}

.settings-value {
    display: table-cell;

    font-size: 1rem;
    font-family: inherit;
    color: inherit;

    width: 100%;
    box-sizing: border-box;
    padding: .375rem 1rem;
    border-radius: .25rem;
    background-color: #FAFAFA;
    border: 1px solid #9A9A9A;
}

select.settings-value {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: no-repeat right #FAFAFA url('data:image/svg+xml;utf8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20version%3D%221.1%22%20%20width%3D%2224%22%20height%3D%2224%22%20viewBox%3D%220%200%2024%2024%22%3E%3Cpath%20fill%3D%22%23000000%22%20d%3D%22M7.41%2C8.58L12%2C13.17L16.59%2C8.58L18%2C10L12%2C16L6%2C10L7.41%2C8.58Z%22%20%2F%3E%3C%2Fsvg%3E');
}

select.settings-value > option {
    background-color: #FAFAFA;
    font-size: 1rem;
}

button.settings-value {
	background-color: #50D367;
    color: #FFFFFF;
    border: none;
}

button:hover.settings-value {
	background-color: #47B9D7;
}

button:disabled.settings-value {
    background-color: #2AAD41;
    color: #CCCCCC;
}
