.hidden { display: none; }
@media (max-width: 399px) { .hidden-mobile-down { display: none; } }
@media (max-width: 549px) { .hidden-phablet-down { display: none; } }
@media (max-width: 749px) { .hidden-tablet-down { display: none; } }
@media (max-width: 999px) { .hidden-desktop-down { display: none; } }
@media (max-width: 1199px) { .hidden-hd-down { display: none; } }
@media (min-width: 400px) { .hidden-mobile-up { display: none; } }
@media (min-width: 550px) { .hidden-phablet-up { display: none; } }
@media (min-width: 750px) { .hidden-tablet-up { display: none; } }
@media (min-width: 1000px) { .hidden-desktop-up { display: none; } }
@media (min-width: 1200px) { .hidden-hd-up { display: none; } }


.btn {
    padding: .375rem 2%;
    font-size: 1rem;
    font-weight: bold;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: none;
    border-radius: .25rem;
}

.textfield {
    padding: .375rem 2%;
    font-size: 1rem;
    background-color: #EEEEEE;
    border: 1px solid #9A9A9A;
    border-radius: .25rem;
}

.left-arrow {
    float: left;
}

.right-arrow {
    float: right;
}
