<!DOCTYPE html>
<html>
<head>
  <title>mauIRC</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link rel="icon" href="res/favicon.ico">
  <!--# include file="res/header.html" -->
  <link type="text/css" rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/4.1.1/normalize.min.css">
  <link type="text/css" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway:400,700">
  <link type="text/css" rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/easy-autocomplete/1.3.5/easy-autocomplete.min.css">
  <link type="text/css" rel="stylesheet" href="index.css">
</head>

<body onContextMenu="ui.contextmenu.hide()" onClick="ui.contextmenu.hide()">
  <div id="container" class="container">
    <div style="text-align: center;">
      <h1 style="color: white;">Loading...</h1>
    </div>
  </div>

  <div class="raw-io-wrapper hidden" id="raw-io" onClick="ui.rawio.close()"></div>

  <div class="settings hidden" id="settings"></div>

  <div class="modal-container hidden" id="modal-container" onClick="ui.modal.hide()">
    <div class="modal" id="modal" onClick="event.stopPropagation()"></div>
  </div>

  <div class="contextmenu hidden" id="contextmenu"></div>

  <div class="display-too-small">
    Your display is too small.
  </div>

	<div class="hidden" id="system">
	  <!--# include file="templates.html" -->
	  <script type="text/javascript" src="https://code.jquery.com/jquery-3.1.0.min.js"></script>
	  <script type="text/javascript" src="https://cdn.jsdelivr.net/ace/1.2.4/min/ace.js"></script>
	  <script type="text/javascript" src="https://cdn.jsdelivr.net/mousetrap/1.6.0/mousetrap.min.js"></script>
	  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/easy-autocomplete/1.3.5/jquery.easy-autocomplete.min.js"></script>
	  <script type="text/javascript" src="index.js"></script>
	</div>
</body>
</html>
