<script type="text/html" id="template-error">
  <center><div class="alert alert-error" role="alert" data-content="message"></div></center>
</script>

<script type="text/html" id="template-success">
  <center><div class="alert alert-success" role="alert" data-content="message"></div></center>
</script>

<script type="text/html" id="template-message">
  <!--# include file="/templates/message.html" -->
</script>

<script type="text/html" id="template-action">
  <!--# include file="/templates/action.html" -->
</script>

<script type="text/html" id="template-joinpart">
  <!--# include file="/templates/joinpart.html" -->
</script>

<script type="text/html" id="template-login">
  <!--# include file="/templates/login.html" -->
</script>

<script type="text/html" id="template-main">
  <!--# include file="/templates/main.html" -->
</script>

<script type="text/html" id="template-channel-messages">
  <div class="channel-messages" data-id="channel" hidden="true"></div>
</script>

<script type="text/html" id="template-channel-switcher">
  <button class="btn channel-switcher" type="button" data-content="channelname" data-id="channel" data-template-bind='[{"attribute": "onClick", "value": "onclick"}]'></button><br>
</script>
