<div class="channels" id="channels">
  <br><br><br>
  <div class="alert alert-info" role="alert"><center><b>TODO: Channel list</b></center></div>
</div>
<div class="messages" id="messages"></div>

<div class="input" id="input">
  <form action="#" id="message-form">
    <input type="text" class="textfield messagebox" id="message-text" autocomplete="off" placeholder="Write a message...">
    <button class="btn messagesend" type="submit" id="message-send" onClick="send()">Send</button>
  </form>
</div>
