<div class="navigation" id="navigation">
  <button class="btn navigation-btn" type="submit" id="switch-view" onClick="switchView()">Channel List</button>
</div>

<div class="networks hidden-tablet-down" id="networks"></div>
<div class="messages" id="messages"></div>

<div class="input" id="input">
  <form action="#" id="message-form">
    <input type="text" class="textfield messagebox" id="message-text" autocomplete="off" placeholder="Write a message...">
    <button class="btn messagesend" type="submit" id="message-send" onClick="send()">Send</button>
  </form>
</div>
