<!--
mauIRC - The original mauIRC web frontend
Copyright (C) 2016 Tulir Asokan

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program.  If not, see <http://www.gnu.org/licenses/>.
-->
<div class="message-preview">
	<a class="preview-image-link" href="javascript:void(0)" data-template-bind='[{"attribute": "onClick", "value": "modalopen"}]'>
		<img class="preview-image preview-full-size" data-template-bind='[{"attribute": "src", "value": "image"}]' src="javascript:void(0)" alt="Preview Image"/>
	</a>
</div>
