<div class="message-preview">
	<div class="preview-info">
		<div class="preview-sitename" data-content="sitename"></div>
		<div class="preview-title" data-content="title"></div>
		<div class="preview-description" data-content="description"></div>
	</div>
	<a class="preview-image-link" href="#" data-template-bind='[{"attribute": "onClick", "value": "modalopen"}]'>
		<img class="preview-image" data-template-bind='[{"attribute": "src", "value": "image"}]' src="javascript:void(0)" alt="Preview Image"/>
	</a>
</div>
