<button class="btn btn-leave-settings" type="button" id="leave-settings" onClick="closeSettings()">Close settings</button>

<div class="settings-container channel-settings" id="channel-settings">
  <h2>Channel</h2><select id="settings-channel-list" onChange="snChanUpdate()"/>
  <button class="btn btn-part-channel" type="button" id="channel-part" onClick="snPartChannel()">Part Channel</button>
  <button class="btn btn-clear-history" type="button" id="channel-clearhistory" onClick="snClearHistory()">Clear History</button>

  <label for="channel-notifications">Notifications</label>
  <select id="channel-notifications">
    <option value="all">All messages</option>
    <option value="highlight">Highlights only</option>
    <option value="disabled">Disabled</option>
  </select>
</div>

<div class="settings-container network-settings" id="network-settings">
  <h2>Network</h2><select id="settings-network-list" onChange="snNetUpdate()"/>
  <label for="network-highlights">Highlight Words</label>
  <input id="network-highlights" type="text" autocomplete="off" placeholder="Comma-separated list">
</div>

<div class="settings-container mauirc-settings">
  <h2>mauIRC</h2>
</div>
