<div class="settings-top-buttons">
  <button class="btn btn-leave-settings" type="button" id="leave-settings" onClick="closeSettings()">Close settings</button>
  <button class="btn btn-part-channel" type="button" id="channel-part" onClick="snPartChannel()">Part Channel</button>
  <button class="btn btn-clear-history" type="button" id="channel-clearhistory" onClick="snClearHistory()">Clear History</button>
</div>

<div class="settings-title">Channel Settings</div>
<div class="settings-container channel-settings" id="channel-settings">
  <div class="settings-entry">
    <label class="settings-label" for="channel-notifications">Notifications</label>
    <select class="settings-value" id="channel-notifications">
      <option value="all">All messages</option>
      <option value="highlight">Highlights only</option>
      <option value="disabled">Disabled</option>
    </select>
  </div>
</div>

<div class="settings-title">Network Settings</div>
<div class="settings-container network-settings" id="network-settings">
  <div class="settings-entry">
    <label class="settings-label" for="network-highlights">Highlight Words</label>
    <input class="settings-value" id="network-highlights" type="text" autocomplete="off" placeholder="Comma-separated list">
  </div>

  <div class="settings-entry">
    <label class="settings-label" for="network-highlights">Nickname</label>
    <input class="settings-value settings-inputfield" id="network-nickname" type="text" autocomplete="off" placeholder="Enter nick">
    <button class="settings-value settings-inputbutton" id="network-nickchange" type="button" onClick="snChangeNick()">Change</button>
  </div>
</div>

<div class="settings-title">mauIRC Settings</div>
<div class="settings-container mauirc-settings" id="mauirc-settings">

</div>
