<div class="whois">
	<h1 class="whois-name" data-content-text="nick"/>
	<div class="whois-table">
		<div class="whois-data">
			<div class="whois-data-key">Real name</div>
			<div class="whois-data-value" data-content-text="realname"/>
		</div>
		<div class="whois-data">
			<div class="whois-data-key">Username</div>
			<div class="whois-data-value" data-content-text="user"/>
		</div>
		<div class="whois-data">
			<div class="whois-data-key">Last seen</div>
			<div class="whois-data-value" data-content-text="idle"/>
		</div>
		<div class="whois-data">
			<div class="whois-data-key">Away Message</div>
			<div class="whois-data-value" data-content-text="away"/>
		</div>
		<div class="whois-data">
			<div class="whois-data-key">Host</div>
			<div class="whois-data-value" data-content-text="host"/>
		</div>
		<div class="whois-data">
			<div class="whois-data-key">Using SSL</div>
			<div class="whois-data-value" data-content-text="secure-connection"/>
		</div>
		<div class="whois-data">
			<div class="whois-data-key">Server</div>
			<div class="whois-data-value" data-content-text="server"/>
		</div>
		<div class="whois-data">
			<div class="whois-data-key">Server Info</div>
			<div class="whois-data-value" data-content-text="server-info"/>
		</div>
	</div>
</div>
